
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <dl class="jumbotron">
      <% @my_likes.each do |like | %>
      <div class="panel-heading">
      <dt >Caption</dt>
      <dd><%= like.photo.caption %></dd>
    </div>
    <div class="panel-body">
      <dt>Image</dt>
      <dd><img class="img-responsive" src="<%=like.photo.image %>"></dd>
    </div>
  <%end%>
    </dl>
  </div>
</div>
